{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<div class="row mx-auto p-3">
    <div class="col-md-12 mt-3">
        <h2>About Us</h2>
        <hr>
        <p>
            <strong>“Enhancing quality of life and bringing happiness with sustainability”</strong><br><br>

            Vishwa E-cart Limited, a globally renowned and trusted company with a turnover of INR 4,813 crores (FY
            21-22), is a part of India's leading business conglomerate the Swami Group. Its business portfolio spans
            Consumer Products (Appliances, Fans, Cookware), Lighting (Consumer and Professional Lighting), and EPC
            (Power Transmission and Distribution).
            The company has an expansive network of 18 branch offices, 600+ distributors, and more than 2.3 lakh retail
            outlets across India, combined with over 500 consumer care centres, fortifying its dominant presence in the
            consumer products sector.
            Under their Lighting business, they offer a wide range of innovative LED lamps and fixtures including panels
            and battens to consumers and are known for their prowess in street lighting, sports lighting, industrial
            commercial and infrastructural lighting, and undertaking specialised illumination projects on a turnkey
            basis amongst other solutions.
        </p>
    </div>

    <div class="col-md-6">
        <h2>Vision</h2>
        <hr>
        <p>
            Our vision has always been to be the leader in the industry and a consumer's original choice. We strive to
            fulfil this everyday by being open to change and constantly improving ourselves. We, at Vishwa Electricals,
            also believe in enhancing the quality of life of our customers, stakeholders and of course our employees
            through everything that we do. We also understand the significance of sustainable growth, and hence
            endeavour to be a responsible company. Our core business strategy has sustainability embedded into it right
            from the beginning. We believe in giving back to the community and are attuned to the importance of being
            socially and environmentally conscious in all that we do.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Mission</h2>
        <hr>
        <p>
            Having complete integrity alignment in what we feel, what we speak and what we do, thereby demonstrating
            honesty and having strong moral principles.
            Proactively anticipating internal and external customer needs and relentlessly working towards exceeding
            their expectations.
            Believing in 'One for all and all for One' thereby working together to exceed our expectations in achieving
            organisational objectives.
        </p>
    </div>

    <h2 class="mt-5">Statistic</h2>
    <hr>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-primary text-center">20+</h1>
        <h4 class="text-center">Year Experience....</h4>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-primary text-center">10000+</h1>
        <h4 class="text-center">Happy Customers....</h4>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-primary text-center">10 Billion+</h1>
        <h4 class="text-center">Business Turnover....</h4>
    </div>

</div>

{% endblock 'main' %}