{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<div class="row mx-auto p-3">
    <div class="col-md-9">
        {% for x in orders %}
            {% if forloop.counter == 1 %}
                <div class="mt-5 shadow p-3">
                    <h4>Customer Details</h4>
                    <hr>
                    <p><strong>Customer Name:</strong>&nbsp;{{x.userid.username}}</p>
                    <p><strong>Email ID:</strong>&nbsp;{{x.userid.email}}</p>
                </div>
            {% endif %}
        {% endfor %}
        <div class="bg-primary mt-2 p-2 text-white">
            ORDER SUMMERY
        </div>
        {% for x in orders %}
            <div class="mt-3 shadow p-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{x.pid.pimage.url}}" width="100%">
                    </div>
                    <div class="col-md-8">
                        <p><strong>Product Name:</strong>&nbsp;{{x.pid.name}}</p>
                        {% if x.pid.cat == 1 %}
                            <p><strong>Category:</strong>&nbsp;Tubelight</p>
                        {% elif x.pid.cat == 2 %}
                            <p><strong>Category:</strong>&nbsp;Fan</p>
                        {% else %}
                            <p><strong>Category:</strong>&nbsp;Bulb</p>
                        {% endif %}
                        <p><strong>Price per quantity:&nbsp;</strong>{{x.pid.price}}</p>
                        <p><strong>Quantity:</strong>{{x.qty}}</p>
                        <p><strong>Price:</strong>Rs.{{x.amt}}</p>
                        <a href="/removeord/{{x.id}}"><button class="btn btn-primary">Remove</button></a>
                    </div>
                </div>
            </div> 
        {% endfor %} 
    </div>        
    <div class="col-md-3 mt-5">
        <div class="shadow p-3">
            <h4>Price Details</h4>
            <hr>
            <p><strong>Price({{n}} items):</strong>Rs.{{tamount}}</p>
            <p><strong>Total Amount:</strong>Rs.{{tamount}}</p>
            <a href="/makepayment"><button class="btn btn-primary">Make Payment</button></a>
        </div>
    </div><!--Price Detail end-->
</div>

{% endblock 'main' %}
